body {
  margin-left: 10%; 
  margin-right: 10%;
  font-family: Tahoma, Geneva, sans-serif;
}
img {
  margin: 10%;
  height: 200px;
}

.portrait {
  transform: rotate(10deg);
  border:20px solid black;
}
/*p {
  background: rgb(103, 16, 63);
}*/
